.article img {
  height: 15em;
}

.article {
  background-color: lightgray;
}

.article:hover {
  cursor: pointer;
}

.article p {
  text-align: justify;
}

h4 {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 7px;
  padding: 0.5em;
}

a {
  text-decoration: none !important;
  color: blue;
}
